{
  "printWidth": 120,
  "singleQuote": true,
  "parser": "flow",
  "eslintIntegration": true,
  "trailingComma":"all",
  "tabWidth":2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "useTabs": false,
  "semi": true
}
